<footer class="footer">
  <small>
  Gato Falante
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
          <li><%= link_to "New Post", posts_new_path %></li>
      <% else %>
          <li><%= link_to "Log in", login_path %></li>
      <% end %>
      <li><a href="https://chattingcat.com/student/index">Chatting Cat</a></li>
    </ul>
  </nav>
</footer>