<footer class="footer">
  <small>
  Gato Falante
  </small>
  <nav>
    <ul>
      <% if true %>
          <li><%= link_to "New Post",   "#" %></li>
      <% else %>
          <li><%= link_to "Log in", "#" %></li>
      <% end %>
      <li><a href="https://chattingcat.com/student/index">Chatting Cat</a></li>
    </ul>
  </nav>
</footer>